<form action="/create" method="POST">
  <h2>Write Post</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Theme of post">
  </div>
  <div class="input-field">
    <input type="text" name="message" placeholder="Text">
  </div>

  <button type="submit" class="btn">Create</button>
</form>